## **<u>Bank Marketing Campaign Success Prediction</u>**

## **<u>Project Summary</u>**

This project focuses on utilizing machine learning techniques to predict the effectiveness of bank marketing campaigns. The data used in the project is provided by a Portuguese banking institution and includes input variables such as age, job, marital status, education, and balance etc.

The goal of this project is to develop a classification model that can accurately predict the effectiveness of bank marketing campaigns. Through the use of machine learning algorithms and techniques, the model will be able to classify a client's response to a campaign as either positive or negative. This project will provide insight into how different input variables can affect the effectiveness of bank marketing campaigns and help banks better target their customers.

### **<u>Problem Statement</u>**
The data is related with direct marketing campaigns (phone calls) of a banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed. The classification goal is to predict if the client will subscribe a term deposit (variable y).

### **<u>Data Description</u>**
- age: age of client (numeric)
- job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
- marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
- education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
- default: has credit in default? (categorical: 'no','yes','unknown')
- housing: has housing loan? (categorical: 'no','yes','unknown')
- loan: has personal loan? (categorical: 'no','yes','unknown')
- contact: contact communication type (categorical: 'cellular','telephone')
- month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
- balance: Account balance of client
- day: last contact day of the month
- duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
- campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
- pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; -1 means client was not previously contacted)
- previous: number of contacts performed before this campaign and for this client (numeric)
- poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
- y (target Variable) - has the client subscribed a term deposit? (binary: 'yes','no')

### Importing Libraries

In [7]:
# For numerical calculations and array elements
import pandas as pd 
import numpy as np

# For data visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#For plotting feature importance
from sklearn.feature_selection import mutual_info_classif

# For splitting data into training and testing sets
from sklearn.model_selection import train_test_split

# For handling class imbalance
from imblearn.over_sampling import SMOTE

# For machine learning models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier

### Loading data

In [9]:
df=pd.read_csv('bank.csv')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [10]:
df.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

### **<u>Data Inispection</u>**

In [12]:
df.shape

(11162, 17)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [14]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

In [16]:
# Checking duplocates values in dataset
duplicate=df.duplicated().sum()
print('Number of duplicate values in dataset:',duplicate)

Number of duplicate values in dataset: 0

In [21]:
# Checking for number of null values in dataset
count_null_df=pd.DataFrame({'columns':df.columns,'number_of_nulls_values':df.isna().sum()})
count_null_df.set_index('columns').sort_values(by='number_of_nulls_values', ascending = False)

           number_of_nulls_values
columns
age                             0
job                             0
marital                         0
education                       0
default                         0
balance                         0
housing                         0
loan                            0
contact                         0
day                             0
month                           0
duration                        0
campaign                        0
pdays                           0
previous                        0
poutcome                        0
deposit                         0

#### <b><u>Observations :</u></b>
- Dataset having 45211 instances and 17 columns.
- In the dataset, there are catagorical, float64, and int64 dtypes features.
- Dataset having 0 duplicated values.
- There are no null/missing values in the dataset.

### **<u>Understanding Features</u>**

In [25]:
# Finding catagorical features

categorical_features = df.select_dtypes(include=['object']).columns
print("There are {} categorical Features in Dataset.".format(len(categorical_features)))
print('**'*50)
print(categorical_features)

There are 10 categorical Features in Dataset.
****************************************************************************************************
Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'deposit'],
      dtype='object')

In [27]:
# Finding numerical features

numerical_features = df.select_dtypes(include=['int64','float64']).columns
print("There are {} numerical Features in Dataset.".format(len(numerical_features)))
print('**'*50)
print(numerical_features)

There are 7 numerical Features in Dataset.
****************************************************************************************************
Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'], dtype='object')

In [28]:
# Checking unique values in all features
unique_values_df=pd.DataFrame(df.nunique(),columns=['Number of unique values'])
unique_values_df

           Number of unique values
age                             76
job                             12
marital                          3
education                        4
default                          2
balance                       3805
housing                          2
loan                             2
contact                          3
day                             31
month                           12
duration                      1428
campaign                        36
pdays                          472
previous                        34
poutcome                         4
deposit                          2

In [30]:
# Check Unique Values and its frequency for each variable
for var in df.columns:
    print(df[var].value_counts())
    print('***'*45)

age
31    496
32    477
34    466
33    464
35    461
     ...
92      2
88      2
93      2
95      1
89      1
Name: count, Length: 76, dtype: int64
***************************************************************************************************************************************
job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: count, dtype: int64
***************************************************************************************************************************************
marital
married     6351
single      3518
divorced    1293
Name: count, dtype: int64
***************************************************************************************************************************************
education
secondary    5476
tertiary     3689
primary      1500
unknown       497
Name: count, dtype: int64
***************************************************************************************************************************************
default
no     10994
yes      168
Name: count, dtype: int64
***************************************************************************************************************************************
balance
 0       774
 1        39
 3        35
 2        34
 4        29
        ...
 8585      1
-159       1
-132       1
 4576      1
 6691      1
Name: count, Length: 3805, dtype: int64
***************************************************************************************************************************************
housing
no     5881
yes    5281
Name: count, dtype: int64
***************************************************************************************************************************************
loan
no     9702
yes    1460
Name: count, dtype: int64
***************************************************************************************************************************************
contact
cellular     8042
unknown      2346
telephone     774
Name: count, dtype: int64
***************************************************************************************************************************************
day
20    570
18    548
30    478
5     477
15    466
14    463
13    453
21    452
6     447
12    445
8     419
17    411
28    410
4     402
29    388
19    384
7     382
11    373
16    369
9     364
2     334
3     306
27    284
22    269
26    252
23    245
25    224
10    163
31    140
1     122
24    122
Name: count, dtype: int64
***************************************************************************************************************************************
month
may    2824
aug    1519
jul    1514
jun    1222
nov     943
apr     923
feb     776
oct     392
jan     344
sep     319
mar     276
dec     110
Name: count, dtype: int64
***************************************************************************************************************************************
duration
97      39
161     38
150     37
119     37
158     37
        ..
1975     1
1531     1
1521     1
1083     1
3284     1
Name: count, Length: 1428, dtype: int64
***************************************************************************************************************************************
campaign
1     4798
2     3028
3     1321
4      771
5      378
6      265
7      139
8      128
9       72
10      52
11      40
13      30
12      29
14      15
17      14
15      13
16       9
21       8
18       8
24       5
19       5
20       5
30       4
22       4
26       3
25       3
23       3
29       2
32       2
43       2
41       1
27       1
63       1
28       1
33       1
31       1
Name: count, dtype: int64
***************************************************************************************************************************************
pdays
-1      8324
 92      106
 182      89
 91       84
 181      81
        ...
 717       1
 159       1
 118       1
 241       1
 15        1
Name: count, Length: 472, dtype: int64
***************************************************************************************************************************************
previous
0     8324
1      887
2      693
3      435
4      244
5      165
6      117
7       77
8       60
9       34
10      30
11      23
12      16
17      11
13      11
14       6
15       5
19       4
23       2
16       2
27       2
20       2
58       1
22       1
30       1
29       1
55       1
26       1
21       1
41       1
40       1
28       1
18       1
37       1
Name: count, dtype: int64
***************************************************************************************************************************************
poutcome
unknown    8326
failure    1228
success    1071
other       537
Name: count, dtype: int64
***************************************************************************************************************************************
deposit
no     5873
yes    5289
Name: count, dtype: int64
***************************************************************************************************************************************

#### <b><u>Observations :</u></b>
- Dataset having 10 catagorical features and 7 numerical features.
- The target variable is 'y' which is binary in nature.
- Some Features in the dataset have unknown values.